#back_box{
position: absolute;
top: 10%;
left: 10%;
 margin: 0 0 0 0;
}
#title_box{
position: absolute;
top: 15%;
left: 10%;
 margin: 0 0 0 0;
}
#content_box{
position: absolute;
top: 20%;
left: 10%;
 margin: 30px 0 0 0;
}
#like_box{
position: absolute;
top: 80%;
left: 10%;
 margin: 0 0 0 0;
}
