.table_out{
	width:1300px; 
	margin:0 auto;/*置中*/
}
.table1{ 
      width:1100px;
      background:#00F;
      border:2px solid #ddd;
      border-collapse:collapse;
}
.table1 tr th{ /*設定表格中的標題欄位樣式*/
      background:#FDE9D9; 
      border:1px solid #ccc;
      border-collapse:collapse;
} 

.table1 tr td{ /*設定表格中的內容欄位樣式*/
     background:#FFFFE0;
     border:1px solid #ccc; 
     border-collapse:collapse;
   
}
#post_box{
position: absolute;
	top: 30%;
	left: 50%;
	margin: 0 0 0 -650px;
}
#photo_box{
	position: absolute;
	top: 10%;
	left: 25%;
	margin: 0 0 0 0;
}
#box{
    max-width:  100%;
    display:  block;
	position:  relative
}
#photo{
    left: calc(50% - 100px);
    position: absolute;
}
#profile_box{
	position: absolute;
	top: 10%;
	left: 40%;
	margin: 0 0 0 0;
}
    

    