#account{

}
#title{
margin-top:5px;
margin-right:10px;
margin-bottom:5px;
margin-left:10px;

}
#chooseboard{
margin-top:5px;
margin-right:10px;
margin-bottom:5px;
margin-left:10px;
}
#post{
margin-top:5px;
margin-right:10px;
margin-bottom:5px;
margin-left:10px;
}
form{
margin-top:5px;
margin-right:auto;
margin-bottom:auto;
margin-left:5px;
border-style:outset;
}